{
  "tabWidth": 2,
  "useTabs": false,
  "importOrder": ["<THIRD_PARTY_TS_TYPES>", "<TS_TYPES>^[./]", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
